.leaflet-container {
    flex-grow: 1;
width: 300px;
height: 300px;
}
.popup {
    width: fit-content;
    background-color: #666;
    padding: 0 2px;
    border: none;
    color: #fff;
    font-size: .7rem;
}


  .leaflet-top.leaflet-left {
    top: 10px !important;
    left: 10px !important;
    z-index: 1000;
  }
  
  .leaflet-control-geocoder {
    z-index: 1200;
  }